body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    background-image: url(/images/Banana.png);
    width: 100%;
    height: 43rem;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

header div {
    padding: 0 2rem;
}

header nav {
    padding-top: 3rem;
    padding-right: 4rem;
}

header h1 {
    font-size: 4rem;
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    padding: 8px 25px;
    font-size: 1.25rem;
    font-weight: 700; 
}

#highlight {
    background-color: white;
    border-radius: 8px;
}

/* .main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
} */

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* img {
    width: 720px;
} */

#feed-card {
    display: flex;
    align-items: center;
    justify-content: center;
}


#feed-card h2 {
    font-size: 4rem;
    font-weight: bold;
}

/* #feed-card h2 {
    text-align: center;
} */

#mission-card {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    text-align: center;
    /* padding: 1em; */
    

}

content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

content h2 {
    font-size: 4rem;
    font-weight: bold;
}

content p {
    font-size: 1.5rem;
    width: 70%;
    text-align: left;
    margin: auto;
    line-height: 1.75;
}

content a {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    border: .75REM solid #F8BAC7;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8BAC7;
}

footer {
    background-image: url(/images/Rectangle\ 5.png);
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    /* margin-bottom: 0; */
}

footer img {
    height: 100%;
    width: 100%;
    
}

#contact {
    /* margin-top: auto;
    margin-bottom: auto;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

#contact h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #AD616E;
}

#contact p {
    font-size: 1.25rem;
    color: #AD616E;
    margin: 0;
}

#contact input {
    padding: 15px 0;
    border-style: none;
}

#name-input {
    background-image: url(/icons/Person\ Icon.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 10px;
}

#email-input {
    background-image: url(/icons/Email\ Icon.svg);
    background-repeat: no-repeat;
    background-position: 10px 5px;
    border-radius: 10px;
}

#contact a {
    font-size: 1.25rem;
    color: white;
    border: 1px solid #AD616E;
    background-color: #AD616E;
    padding: .5rem;
    text-align: center;
    margin-top: 2rem;
    width: 40%;
    border-radius: 5px;
}

#socials {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

#socials p {
    font-size: 1.5rem;
    color: #AD616E;
    font-weight: bold;
}

#socials ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    
}